/** Общие */
body {
  margin         : 0;
  max-height     : 100vh;
  height         : 100vh;
  display        : flex;
  flex-direction : column;
  justify-content: space-between;
}

main {
  margin-inline  : auto;
  display        : flex;
  align-items    : center;
  justify-content: center;
  flex-direction : column;
  gap            : 1px;
  min-width      : 60vw;
}

/** Элементы */
input,
input::placeholder,
p {
  font-family: monospace;
}

input::placeholder {
  margin-left: 1rem;
}

a {
  font-family: system-ui;
}

h1 {
  font-size       : 1.75rem;
  font-family     : system-ui;
  background-image: radial-gradient(rgba(255, 255, 255, .3) 15%, transparent 16%), linear-gradient(to left, #ff5e3a, #2f5b9c);
  background-size : 5px 5px, 100% 100%;
  width           : fit-content;
  padding         : 1rem;
  color           : white;
  border-radius   : 25px;
  margin-left     : 0.67em;
}

/** Калькулятор */

div.calc {
  width          : 100%;
  display        : flex;
  justify-content: space-between;
  gap            : 3rem;
  border         : 1px solid;
  border-radius  : 5px;
  font-size      : 1.25rem;
  height         : 3rem;
}

form.inputs {
  display    : flex;
  align-items: center;
  gap        : 1.5rem;
}

p.description {
  display    : flex;
  align-items: center;
  margin     : 0;
  margin-left: 1.5rem;
  width      : 15%;
}

input {
  line-height : 2;
  font-size   : 0.9rem;
  padding-left: 1.5ch;
}

input:focus-visible {
  filter       : saturate(1.5);
  outline-color: blueviolet;
}


/** Результат */
div.result {
  display      : flex;
  height       : 3rem;
  cursor       : pointer;
  border-radius: 5px;
}

div.result:hover {
  filter: brightness(0.95);
}

div.result pre {
  margin: 0;
  height: 3rem;
}

div.result code {
  display      : flex !important;
  align-items  : center;
  height       : 3rem;
  padding      : 3px 1rem !important;
  box-sizing   : border-box;
  border-radius: 5px 0 0 5px;
  border-left  : black 1px solid;
  font-size    : 0.9rem;
}

button {
  cursor       : pointer;
  line-height  : 1;
  font-size    : 1.25rem;
  padding-left : 8px;
  border       : none;
  border-radius: 0 5% 5% 0;
  outline      : 1px solid;
}

button:hover {
  filter: brightness(0.95);
}

button:focus {
  background-color: blueviolet;
  filter          : saturate(1.5);
  box-shadow      : 0 0 10px 1px blueviolet;
}

/** Футер */
footer pre {
  width        : 50vw;
  margin-inline: auto;
}